
.container {
    text-align: center;
    background-color: #282C34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 40px;
}
.product-image {
    width: 200px;
    text-align: center;
}

.container {
    text-align: center;
    background: #eee;
    color: #282c34;
    padding: 0 15px 20px;
    margin: 10px;
    width: 300px;
}

.product-brand {
    padding-top: 20px;
    display: block;
    font-size: 14px;
    text-align: center;
}

.product-title {
    text-align: center;
    background-color: #282C34;
    justify-content: center;
    align-items: flex-start;
    color: white;
    display: block;
    font-size: 17px;
    margin: 10px 0;
}

.product-price {
    text-align: center;
    font-size: 14px;

}

.product-seconds {
    font-size: 12px;
}
